.container {
  display: grid;
  width: 80%;
  border: 2px solid black;
  margin: 0 auto; 
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 200px 200px 50px 100px;
}

.header {
  grid-column-start: 1;
  grid-column-end: 4; /* 3rd column always one more */ 
  grid-row-start: 1;
  grid-row-end: 2; /* end on row 1 */ 
  border: 2px solid black;
  background-color: azure;
}

.mid_left {
  grid-column: 1/2;
  grid-row: 2/ 3;
  /* grid-row-start: 2;
  grid-row-end: 3; */
  border: 2px solid black;
  background-color: crimson;
}

.mid_mid {
  grid-column: 2/3;
  grid-row: 2/3;
  border: 2px solid black;
  background-color: gold;
}

.mid_right {
  grid-column: 3/4;
  grid-row: 2/3;
  border: 2px solid black;
  background-color: tomato;
}

.footer {
  grid-column: 1/ span 3;
  grid-row: 3/4;
  background-color: wheat;
  border: 2px solid black;
}

/* Media query */
/* break point */
@media screen and (max-width: 768px){
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 125px 125px 125px 100px;
    gap: 5px;
    width: 95%;
    grid-template-areas:
      "header"
      "mid_mid"
      "mid_left"
      "mid_right"
      "footer";
  }

  .header {
    /* grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2; */
    grid-area: header;
  }

  .mid_left {
    /* grid-column: 1 / 2;
    grid-row: 2 / 3; */
    grid-area: mid_left;
  }

  .mid_mid {
    /* grid-column: 1 / 2;
    grid-row: 3 / 4; */
    grid-area: mid_mid;
  }

  .mid_right {
    /* grid-column: 1 / 2;
    grid-row: 4 / 5; */
    grid-area: mid_right;
  }

  .footer {
    /* grid-column: 1 / 2;
    grid-row: 5 / 6; */
    grid-area: footer;
  }
} /* closing media query bracket */
